/* Tested on:
 * 1080 x 2340 [ Huawei P40 ]
 * 1024 x 1440 [ Microsoft Surface Pro 3 ] (portrait)
 * For other devices go down to the bottom of this file
*/

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.wikipedia-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

.wikipedia-logo {
  width: 140px;
}

.wikipedia-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wikipedia-title {
  padding-left: 15px;
  width: 300px;
}

.wikipedia-subtitle {
  padding-left: 8px; 
  font-size: 30px;
  margin-top: 5px;
}


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-ms-reveal {
  display: none;
}

.wikipedia-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 96%;
  height: 100px;
}


.wikipedia-search {
  border: 2px solid #aaa;
  border-radius: 3px;
  width: 100%; 
  height: 96.5%;
  font-size: 35px;
  padding-left: 25px;
  padding-right: 200px; 
  caret-color: #000000;
}

.wikipedia-search:focus {
  outline: 4px solid #3266cc;
  outline-offset: -4px;
}


.wikipedia-language {
  margin-left: -210px;
  text-transform: uppercase;
  font-size: 30px;
  color: #666;
  border: none;
  background-color: transparent;
  padding: 10px;
  text-overflow: hidden;
  width: 110px;
  padding-right: 44px;
  margin-right: 40px;
  font-family: monospace;
}

.wikipedia-language:focus {
  outline: 2px solid #3266cc;
}


/* Hide select's arrow */
.hide-arrow {
  content: url("./down-arrow.svg");
  background-color: #fff;
  width: 54px;
  height: 20px;
  right: 19.3%;
  position: absolute;
  pointer-events: none;
}

.wikipedia-search-button {
  width: 15%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 0 6px 6px 0;
  background-color: #3266cc;
  transition-delay: 0.25s;
}

.wikipedia-search-button:hover {
  background-color: #3266cc;
  box-shadow: inset 0 0 0 4px #3266cc, inset 0 0 0 6px #fff;
}

.wikipedia-search-icon {
  width: 64px;
}


.wikipedia-langlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  margin: 20px;
}

.wikipedia-langlist-item {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.wikipedia-langlist-item:hover {
  outline: 2px solid #3266cc;
  background-color: #eee;
}

.wikipedia-langlist-item > a {
  text-decoration: none;
}

.wikipedia-langlist-item > a:hover {
  text-decoration: underline;
  text-decoration-color: #3266cc;
}


.wikipedia-langlist-item > a > .lang-details > .lang-name {
  font-size: 30px;
  color: #3266cc;
  text-decoration: none;
  font-weight: 900;
  margin-bottom: 15px;
}

.wikipedia-langlist-item > a > .lang-details > .lang-count {
  font-size: 30px;
  color: #666;
  display: inline-block;
}

.wikipedia-langlist-item > a > .lang-details > .lang-articles {
  font-size: 30px;
  color: #666;
  display: inline-block;
}


/* Dispositivo target: Pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  /* Tested on:
   * 411 x 731 [ Google Pixel 2 ]
  */


/* Header: */
  .wikipedia-header {
    margin-top: 8%;
    justify-content: center; 
    margin-bottom: 1%;
  }

  .wikipedia-logo {
    width: 14%;
  }

  .wikipedia-title {
    width: 78%;
    padding-left: 0.5%;
  }

  .wikipedia-subtitle {
    font-size: 0.8em;
  }

  .wikipedia-title-container {
    max-width: 150px;
  }


/* Search: */
  .wikipedia-search-container {
    height: 30%;
  }

  .wikipedia-search {
    font-size: 1em;
    padding-left: 3%;
    padding-right: 40%;
    border: 1px solid #aaa;
    height: 40px;
  }

  .wikipedia-search:focus {
    outline: 1px solid #3266cc;
    outline-offset: -1px;
  }

  .wikipedia-search-button {
    width: 18%;
  }

  .wikipedia-search-button:hover {
     box-shadow: inset 0 0 0 1px #3266cc, inset 0 0 0 2px #fff;
   }

  .wikipedia-search-icon {
    height: 34.5px;
    margin-left: -2.5%;
  }

  .wikipedia-language {
    font-size: 1em;
    padding-right: 2%;
    margin-right: 2%;
    width: 16%;
    margin-left: -21%;
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .wikipedia-language:focus {
    outline: 1px solid #3266cc;
  }

  .hide-arrow {
    width: 2.5%;
    right: 21.7%;
  }


  .wikipedia-langlist {
    grid-column-gap: 10%;
    margin: 2%;
  }


/* Langlist: */
  .wikipedia-langlist-item {
    margin-top: 13%;
  }

  .wikipedia-langlist-item > a > .lang-details > .lang-name,
  .wikipedia-langlist-item > a > .lang-details > .lang-count,
  .wikipedia-langlist-item > a > .lang-details > .lang-articles
  {
    font-size: 1em;
  }

  .wikipedia-langlist-item > a > .lang-details > .lang-name {
    margin-bottom: 2%;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  /* Tested on:
   * 320 x 568 [ Apple iPod Touch ]
   * 375 x 667 [ Apple iPhone 8 ]
   * 360 x 740 [ Samsung Galaxy S8+ ]
   */
  .hide-arrow {
    right: 19.4%;
    width: 2.8%;
  }

  .wikipedia-language {
    width: 20.2%;
  }

  .wikipedia-search-icon {
    width: 75%; 
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  /* Tested on:
   * 360 x 740 [ Samsung Galaxy S8+ ]
   */
  .wikipedia-language {
    width: 17.5%;
  }
}

@media (min-width: 375px) and (max-width: 410px) {
  /* Tested on:
   * 375 x 667 [ Apple iPhone 8 ]
  */
  .wikipedia-language {
    width: 17%;
  }
}


@media (min-width: 720px) and (max-width: 768px) {
  /* Tested on:
   * 720 x 1280 [ Microsoft Surface Pro 2 ]
  */
  .hide-arrow {
    right: 20%;
    width: 1.5%;
  }

  .wikipedia-language {
    width: 9%;
    padding-right: 2%;
  }
}



/* Dispositivo target: Pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Tested on:
   * 768 x 1024 [ Apple Ipad Pro 9.7 ]
  */
  .hide-arrow {
    right: 21%;
    width: 6%;
  }
}



/* Dispositivo target: Pantallas grandes (escritorio) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Dispositivo target: Pantallas extra grandes (pantallas grandes y de alta resolución) */
@media (min-width: 1200px) {
  .hide-arrow {
    right: 17.8%;
    width: 3%;
  }
}


@media (min-width: 1280px) {
  /* Tested on:
   * 1280 x 720 [ Microsoft Surface Pro 2 ] (landscape)
  */
  .hide-arrow {
    width: 4%;
    right: calc(19% - 0.9%);
  }
}

@media (min-width: 1400px) {
  .hide-arrow {
    right: calc(19% - 1.1%);
  }
}

@media (min-width: 1500px) {
  .hide-arrow {
    right: calc(19% - 1.25%);
  }
}

@media (min-width: 1600px) {
  .hide-arrow {
    right: calc(19% - 1.60%);
    width: 3%;
  }
}

@media (min-width: 1800px) {
  .hide-arrow {
    right: calc(19% - 1.9%);
  }
}

@media (min-width: 2000px) {
  .hide-arrow {
    right: calc(19% - 2%);
    width: 2.5%;
  }
}

@media (min-width: 2100px) {
  .hide-arrow {
    right: calc(19% - 2.2%);
  }
}

@media (min-width: 2200px) {
  .hide-arrow {
    right: calc(19% - 2.3%);
  }
}

@media (min-width: 2400px) {
  .hide-arrow {
    right: calc(19% - 2.5%);
  }
}

@media (min-width: 2500px) {
  .hide-arrow {
    right: calc(19% - 2.64%);
    width: 2%;
  }
}

@media (min-width: 2700px) {
  .hide-arrow {
    right: calc(19% - 2.7%);
  }
}

@media (min-width: 2800px) {
  .hide-arrow {
    right: calc(19% - 2.8%);
    width: 1.7%;
  }
}

@media (min-width: 3000px) {
  .hide-arrow {
    right: calc(19% - 2.9%);
    width: 1.5%;
  }
}

@media (min-width: 3200px) {
  .hide-arrow {
    right: calc(19% - 3%);
    width: 1.3%;
  }
}

@media (min-width: 3500px) {
  .hide-arrow {
    right: calc(19% - 3.2%);
    width: 1.2%;
  }
}

@media (min-width: 3800px) {
  .hide-arrow {
    right: calc(19% - 3.25%);
    width: 1.1%;
  }
}

@media (min-width: 4100px) {
  .hide-arrow {
    right: calc(19% - 3.35%);
    width: 1%;
  }
}

@media (min-width: 4400px) {
  .hide-arrow {
    right: calc(19% - 3.4%);
    width: 0.9%;
  }
}

@media (min-width: 4550px) {

  .hide-arrow {
    right: calc(19% - 3.45%);
  }
}

@media (min-width: 4700px) {
  .hide-arrow {
    right: calc(19% - 3.5%);
    width: 0.8%;
  }
}

@media (min-width: 5000px) {
  .hide-arrow {
    right: calc(19% - 3.55%);
    width: 0.7%;
  }
}

@media (min-width: 5300px) {
  .hide-arrow {
    right: calc(19% - 3.6%);
    width: 0.6%;
  }
}

@media (min-width: 5600px) {
  .hide-arrow {
    right: calc(19% - 3.65%);
    width: 0.5%;
  }
}

@media (min-width: 5900px) {
  .hide-arrow {
    right: calc(19% - 3.7%);
  }
}


@media (min-width: 6200px) {
  .hide-arrow {
    right: calc(19% - 3.72%);
  }
}

@media (min-width: 6500px) {
  .hide-arrow {
    right: calc(19% - 3.75%);
  }
}

@media (min-width: 6800px) {
  .hide-arrow {
    right: calc(19% - 3.78%);
  }
}

@media (min-width: 7100px) {
  .hide-arrow {
    right: calc(19% - 3.8%);
  }
}

@media (min-width: 7400px) {
  .hide-arrow {
    right: calc(19% - 3.85%);
  }
}

@media (min-width: 8000px) {
  .hide-arrow {
    right: calc(19% - 3.9%);
  }
}

@media (min-width: 8500px) {
  .hide-arrow {
    right: calc(19% - 3.92%);
  }
}


/* Dispositivo target: Orientación vertical */
@media (orientation: portrait) {
}

/* Dispositivo target: Orientación horizontal */
@media (orientation: landscape) {
}

/* Dispositivo target: Pantallas con resolución Retina u otros dispositivos de alta densidad de píxeles */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}

/* Dispositivo target: Impresión */
@media print {
}

